<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Timestamp Microservice</title>
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
  </head>
  <body>
    <h1>Timestamp Microservice</h1>
    <hr />
    <div class="container">
      <h3>Example Usage:</h3>
      <ul>
        <li>
          <a href="api/2015-12-25">[project url]/api/yyyy-mm-dd</a>
        </li>
        <li>
          <a href="api/1451001600000">[project url]/api/UTCstring</a>
        </li>
      </ul>

      <h3>Example Output:</h3>
      <p>
        <code>{"unix": UTCstring, "utc": "Fri, 25 Dec 2015 00:00:00 GMT"}</code>
      </p>
    </div>
    <div class="footer">
      <p>
        By <a>Ilhamosaurus</a>
      </p>
    </div>
  </body>
</html>